@font-face {
    font-family: 'FNT_SPIRITWELL';
    src: url('/FNT_SPIRITWELL/spiritwell.ttf');
}


* {
    background-color: black;
    font-family: 'FNT_SPIRITWELL';
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    color: white;
    padding-top: 2vh;
    font-size: 25px;
}

#quick-summary {
    
}

#image-double{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image-double-content{
    display: flex;
}

.image-text{
    
}


